.cards{
	display: flex;
    flex-wrap: wrap;
}

.card{
	border-radius: 5px;
    align-items: center;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    margin:10px;
    flex-basis: 260px;
    flex-grow: 1;
}

.card img{
	width: 150px;
    border-radius: 5px;
}

.card h3{
	font-size: 24px;
    font-style: italic;
    flex-grow: 1;
    padding-left: 15px;
}

